:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --footer-color: #2f303a;
  --second-btn-color: #188ce8;
  --background-color: #f5f4fa;
  --white-text: #fff;
  --black-text: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* -------------------------HEADER----------------------- */
.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header {
  background-color: var(--white-text);
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-text-header {
  color: var(--black-text);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-mail {
  margin-right: 50px;
}

.header-contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--second-btn-color);
}

.header .container {
  display: flex;
  align-items: center;
}
/* ----------------------------HERO-------------------------------- */

.hero {
  background-color: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 30px;
}

.hero-button {
  margin: 0 auto;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text);
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-btn-color);
}

/* ----------------------------BENEFITS----------------------------------- */

.benefits {
  padding-top: 94px;
  padding-bottom: 47px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
}

.benefits-item + .benefits-item {
  margin-left: 30px;
}

/* -----------------------ABOUT------------------- */
.about {
  padding-bottom: 94px;
}

.about-title {
  margin-bottom: 50px;
  text-align: center;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------------OUR TEAM---------- */
.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-item:not(:last-child) {
  background-color: var(--white-text);
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
}
.team-job {
  font-weight: 400;
  color: var(--second-text-color);
}

.container-name {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* -------------------FOOTER---------------------------------------- */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-text-footer {
  color: var(--white-text);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.adress-item {
  margin-bottom: 9px;
}

/* -------------------PORTFOLIO----------------------- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.exmpl-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.exmpl-about {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-exmpl {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-exmpl {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio-exmpl:nth-child(3n) {
  margin-right: 0;
}

.portfolio-exmpl:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
